<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.gumtree.utilities.Reporting" />
	</listeners>
	<test name="gumtree Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.gumtree.tests.LoginTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
